$body-bg-color: #efefef;
$filter-bg-color: #262626;
$gray-border-color: #efefef;
$white-bg-color:#fff;

$dark-font-color: #262626;
$light-gray-color: #afafaf;
$heading-color: #ff6079;
$sub-text-color: #656565;
$link-color: #ff6079;
$link-active-color: #06c6ff;